<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto News Of The Day</title>
</head>
<body>

    <h1>Crypto News of The Day</h1>

    <div data-th-each="w: ${articles}">
        <table>
            <tr>
                <td style="width: 30%;">
                    <img data-th-src="https://min-api.cryptocompare.com/data/v2/news/?lang=EN" alt="">
                </td>
                <td>
                    <strong data-th-text="${w.id}"></strong>
                    - 
                    <span data-th-text="${w.published_on}"></span>
                </td>
            </tr>
        </table>

    </div>
    
</body>
</html>